.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .field {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #ebebed;
  }
}

.bg-primary {
  background-color: #42d8e8 !important;
}

.bg-success {
  background-color: #00e871 !important;
}

.bg-danger {
  background-color: #e85a5f !important;
}
